@font-face {
    font-family: "Poppins-regular";
    src: url(fonts/Poppins/Poppins-Regular.ttf);
}
:root {
    --bg: rgb(12, 12, 12);
}

html {
    font-family: 'Poppins-regular', sans-serif;
}

body {
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    background: var( --bg);
}

main {
    position:relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}

main::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #45f3ff );
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

main::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #45f3ff );
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}


form {
    position: absolute;
    background: #28292d;
    z-index: 100;
    inset: 3px;
    border-radius: 8px;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}

form h3 {
    color: #45f3ff;
    text-align: center;
    letter-spacing: 0.1rem;
}

label {
    position: relative;
    width: 300px;
    margin-top: 35px;
}

label input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px 5px;
    border: none;
    outline: none;
    background: transparent;
    z-index: 200;
    font-size: 1em;
}

label span {
    position:absolute;
    top: 0;
    padding: 20px 0px 10px;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    color: #afafaf;
}

label input:valid ~ span,
label input:focus ~ span {
    color: #45f3ff;
    transform: translateX(0px) translateY(-34px);
    font-size: 1em;
}

label i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
}

label input:valid ~ i,
label input:focus ~ i {
    height: 36px;
}




.links {
    display: flex; 
    justify-content: space-between;
}

.links a {
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}

.links a:hover,
.links a:nth-child(2) {
    color: #45f3ff;
}

input[type="submit"] {
    border: none;
    outline: none;
    background: #45f3ff;
    padding: 11px 25px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

input[type="submit"]:active {
    opacity: 0.6;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}










